@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSUTBgQVqaDRvEHBV7jpBT5TPU2C59vIQTP189AmI0IxA&s');
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
